<!DOCTYPE html>
<html>
<head>
    <link href="home.css">
    <title>Регистрация</title>
</head>
<body>
    <h1>Регистрация</h1>
    <form action="/register" method="POST">
        <label for="team_name">Имя команды: </label>
        <input type="text" name="team_name">
        <br>
        <label for="captain">Ник капитана:</label>
        <input type="text" name="captain">
        <br>
        <label for="teammate1">Ник первого тиммейта:</label>
        <input type="text" name="teammate1">
        <br>
        <label for="teammate2">Ник второго тиммейта:</label>
        <input type="text" name="teammate2">
        <br>
        <input type="submit" value="Зарегистрироваться">
    </form>
    {% if error %}
        <h3>{{error}}</h3>
    {% endif %}
</body>
</html>
